<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <!-- header start -->
    <header>
        <div class="logo">
            <img src="images/klassy-logo.png" alt="logo">
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="">Chefs</a></li>
                <li><a href="">Features</a>
                    <ul class="dropdown">
                        <li><a href="">Features Page 1</a></li>
                        <li><a href="">Features Page 2</a></li>
                        <li><a href="">Features Page 3</a></li>
                        <li><a href="">Features Page 4</a></li>
                    </ul></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
    </header>
    <!-- header end -->
    <!-- sub header start -->
    <div class="subheader">
        <div class="leftpart">
          <div class="leftcontent">
                <h1>Klassy Cafe</h1>
                <h4>The Best Experience</h4><br><br>
                <div class="reservation-button">
                    <a href="">Make a Reservation</a>
                </div>
            </div>
        </div>
        <div class="rightpart">
            <img src="images/top right image.jpg" alt="image">
        </div>
    </div>
    <!-- sub header end -->
    <!-- About us starts -->
    <div class="about-us">
        <div class="left-aboutus">
            <hr><h3>ABOUT US</h3>
            <h1>We Leave A Delicious <br>Memory For You</h1>
            <p>Klassy Cafe is one of the best restaurant HTML templates with Bootstrap v4.5.2 CSS framework. You can download and feel free to use this website template layout for your restaurant business. You are allowed to use this template for commercial purposes. <br><br>

                You are NOT allowed to redistribute the template ZIP file on any template donwnload website. Please contact us for more information.</p>
            <div class="left-aboutus-images">
                <div class="about-us-images">
               <img src="images/about-thumb-01.jpg" alt="">
                </div>
                <div class="about-us-images">
                <img src="images/about-thumb-02.jpg" alt="">
                </div>
                <div class="about-us-images">
                    <img src="images/about-thumb-03.jpg" alt="">
                    </div>
            </div>
        </div>
        <div class="right-aboutus">
            <a href="https://www.youtube.com/"><i class="fa-solid fa-play yt"></i>
            </a>
        </div>
    </div>
    <!-- about us end -->
    <!-- Our menu start -->
    <div class="our-menu">
        <hr><h3>OUR MENU</h3>
        <h1>Our selection of cakes <br>with quality taste</h1>
        <div class="container">
            <div class="item">
                <div class="pic-one">
                    <div class="price">
                        <h4>$14</h4>
                    </div>
                    <div class="info">
                        <div class="title">Chocolate Cake</div>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedii do eiusmod teme.</p>
                        <div class="reserve-button">
                            <a href="#reservation">Make reservation</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic-two">
                    <div class="price">
                        <h4>$22</h4>
                    </div>
                    <div class="info">
                        <div class="title">Klassy Pancake</div>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedii do eiusmod teme.</p>
                        <div class="reserve-button">
                            <a href="#reservation">Make reservation</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic-three">
                    <div class="price">
                        <h4>$7.25</h4>
                    </div>
                    <div class="info">
                        <div class="title">Klassic cake</div>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedii do eiusmod teme.</p>
                        <div class="reserve-button">
                            <a href="#reservation">Make reservation</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic-four">
                    <div class="price">
                        <h4>$10</h4>
                    </div>
                    <div class="info">
                        <div class="title">Blueberry cheesecake</div>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedii do eiusmod teme.</p>
                        <div class="reserve-button">
                            <a href="#reservation">Make reservation</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic-five">
                    <div class="price">
                        <h4>$8.50</h4>
                    </div>
                    <div class="info">
                        <div class="title">Klassy cup cake</div>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedii do eiusmod teme.</p>
                        <div class="reserve-button">
                            <a href="#reservation">Make reservation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon">
            <i class="fa-solid fa-angle-left left-side"></i>    
            <i class="fa-solid fa-angle-right right-side"></i>
        </div>
    </div>
    <!-- Our Menu end -->
    <!-- chefs start -->
    <div class="chef">
        <h3>OUR CHEFS</h3>
        <h1>We offer the best <br> ingredients for you</h1>
        <div class="chef-container">
            <div class="chef-one">
                    <div class="image"><img src="images/chefs-01.jpg" alt="">
                       <div class="social">
                            <i class="fa-brands fa-facebook-f f"></i>
                            <i class="fa-brands fa-twitter t"></i>
                            <i class="fa-brands fa-instagram i"></i>
                        </div>
                   </div>
                
                        <div class="below-content">
                            <h4>Randy Walker</h4>
                            <h5>Pastry Chef</h5>
                        </div>
            </div>
            <div class="chef-two">
                <div class="image"><img src="images/chefs-02.jpg" alt="">
                   <div class="social">
                        <i class="fa-brands fa-facebook-f f"></i>
                        <i class="fa-brands fa-twitter t"></i>
                        <i class="fa-brands fa-instagram i"></i>
                    </div>
               </div>
            
                    <div class="below-content">
                        <h4>David Martin</h4>
                        <h5>Cookie Chef</h5>
                    </div>
            </div>
            <div class="chef-three">
                <div class="image"><img src="images/chefs-03.jpg" alt="">
                   <div class="social">
                        <i class="fa-brands fa-facebook-f f"></i>
                        <i class="fa-brands fa-twitter t"></i>
                        <i class="fa-brands fa-instagram i"></i>
                    </div>
               </div>
            
                    <div class="below-content">
                        <h4>Randy Walker</h4>
                        <h5>Pastry Chef</h5>
                    </div>
        </div>
        </div>
    </div>
    <!-- chefs end -->
    <!-- contact us start -->
    <div class="contact-us">
        <div class="contact-left">
            <div class="contact-content">
                <hr><h3>CONTACT US</h3>
                <h1>Here You Can Make A Reservation <br> Or Just walkin to our caf</h1>
                <h6>Donec pretium est orci, non vulputate arcu hendrerit a. Fusce a eleifend <br> riqsie, namei sollicitudin urna diam, sed commodo purus porta ut.</h6>
            </div>
            <div class="box">
                <div class="leftbox">
                    <div class="phoneicon"><i class="fa-solid fa-phone"></i></div>
                    <h4>Phone Numbers</h4>
                    <div class="phonenumber">
                        <a href="#">080-090-0990</a><br>
                        <a href="#">080-090-0880</a>
                    </div>
                </div>
                <div class="rightbox">
                    <div class="Emailicon"><i class="fa-solid fa-envelope"></i></div>
                    <h4>Emails</h4>
                    <div class="email">
                        <a href="#">hello@company.com</a><br>
                        <a href="#">info@company.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-right">
            <div class="table">
                <h3>Table Reservation</h3>
                <tr>
                    <td><input type="text" name="Name" placeholder="Your Name*"></td>
                    <td><input type="email" name="Email" placeholder="Your Email Address"></td>
                </tr><br><br>
                <tr>
                    <td><input type="text" name="phonenumber" placeholder="Phone Number*"></td>
                    <td><select name="Number-guest" aria-placeholder="Numbers of Guest" class="guest">
                        <option value="number-guests">Number Of Guests</option>
                        <option name="1" id="1">1</option>
                        <option name="2" id="2">2</option>
                        <option name="3" id="3">3</option>
                        <option name="4" id="4">4</option>
                        <option name="5" id="5">5</option>
                        <option name="6" id="6">6</option>
                        <option name="7" id="7">7</option>
                        <option name="8" id="8">8</option>
                        <option name="9" id="9">9</option>
                        <option name="10" id="10">10</option>
                    </select></td>
                </tr><br><br>
                <tr>
                    <td><input type="date" name="date" placeholder="DD/MM/YYYY"></td>
                    <td><select name="time" id="time" class="time">
                        <option value="Time">Time</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                    </select></td>
                </tr><br><br>
                <tr><textarea name="Message" id="" placeholder="Message" cols="44" rows="6"></textarea></tr>
                <button class="reg-button">Make a Reservation</button>
            </div>
        </div>
    </div>
    <!-- contact us end -->
    <!-- week offer start -->
    <div class="week-offer">
        <h4>KLASSY WEEK</h4>
        <h1>This Week’s Special <br> Meal Offers</h1>
        <div class="tab">
            <div class="item-first">
                <img src="images/tab-icon-01.png" alt="">
                <h5>Breakfast</h5>
            </div>
            <div class="item-second">
                <img src="images/tab-icon-02.png" alt="">
                <h5>Lunch</h5>
            </div>
            <div class="item-three">
                <img src="images/tab-icon-03.png" alt="">
                <h5>Dinner</h5>
            </div>
        </div>
        <div class="food-container">
            <div class="leftfood">
                <div class="food-one">
                    <img src="images/tab-item-01.png" alt="">
                    <h2>Fresh Chicken Salad</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur <br> koit adipiscing elit, sed do.</p>
                    <div class="price">
                        <h6>$10.50</h6>
                    </div>
                </div>
                <div class="food-two">
                    <img src="images/tab-item-02.png" alt="">
                    <h2>Orange Juice</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur <br> koit adipiscing elit, sed do.</p>
                    <div class="price">
                        <h6>$8.50</h6>
                    </div>
                </div>
                <div class="food-three">
                    <img src="images/tab-item-03.png" alt="">
                    <h2>Fruit Salad</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur <br> koit adipiscing elit, sed do.</p>
                    <div class="price">
                        <h6>$9.90</h6>
                    </div>
                </div>
               
            </div>
            <div class="rightfood">
                <div class="food-four">
                    <img src="images/tab-item-04.png" alt="">
                    <h2>Eggs Omelette</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur <br> koit adipiscing elit, sed do.</p>
                    <div class="price">
                        <h6>$6.50</h6>
                    </div>
                </div>
                <div class="food-five">
                    <img src="images/tab-item-05.png" alt="">
                    <h2>Dollma Pire</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur <br> koit adipiscing elit, sed do.</p>
                    <div class="price">
                        <h6>$5.00</h6>
                    </div>
                </div>
                <div class="food-six">
                    <img src="images/tab-item-06.png" alt="">
                    <h2>Omelette & Cheese</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur <br> koit adipiscing elit, sed do.</p>
                    <div class="price">
                        <h6>$4.10</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- week offer end -->
    <!-- footer start -->
    <footer>
        <div class="icon">
            <ul>
                <li><i class="fa-brands fa-facebook-f"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-linkedin-in"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
        </div>
        <div class="footer-logo">
            <img src="images/white-logo.png" alt="">
        </div>
        <div class="copyright">
            <pre>© Copyright Klassy Cafe Co.
         Design: TemplateMo</pre>
        </div>
    </footer>
    <!-- footer end -->
</body>
</html>